* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
}

header h1 {
  color: #F9F4DA;
}

header p {
  color: #7c7b7b;
}

section.game-status {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #10A95B;
  color: #F9F4DA;
  border-radius: 4px;
  margin-top: 30px;
  padding-block: 5px;
}

section.game-status > h1 {
  margin: 5px;
  font-size: 1.25rem;
}

section.game-status > p {
  margin: 5px;
}

section.languages-chips {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-block: 30px;
  max-width: 700px;
}

section.languages-chips > span {
  display: flex;
  border-radius: 5px;
  padding: 4px 6px;
  position: relative;
}

section.languages-chips > span.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
}

section.word-box {
  display: flex;
  color: #f5f1d9;
  justify-content: center;
  gap: 2px;
  margin-bottom: 40px;
}

section.word-box > span {
  height: 40px;
  width: 40px;
  display: flex;
  background-color: #323232;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #F9F4DA;

}

section.alphabets-chips {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 550px;
  margin-right: auto;
  margin-left: auto;
}

section.alphabets-chips > button {
  height: 50px;
  width: 50px;
  border: 1px solid #979591;
  background-color: #f2bd4b;
  border-radius: 5px;
  font-size: 1.15rem;
  font-weight: 600;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.new-game {
  display: block;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  margin-inline: auto;
  cursor: pointer;
  background-color: #3FA9F5;
  font-size: 1rem;
  font-weight: 500;
}